[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --bind-address=0.0.0.0 \
  --advertise-address=192.168.114.3 \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=31 \
  --audit-log-maxbackup=14 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --audit-log-compress \
  --authorization-mode=RBAC,Node \
  --client-ca-file=/etc/kubernetes/pki/kubernetes-ca.pem \
  --enable-bootstrap-token-auth=true \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,TaintNodesByCondition,PodSecurity,Priority,DefaultTolerationSeconds,DefaultStorageClass,StorageObjectInUseProtection,PersistentVolumeClaimResize,RuntimeClass,CertificateApproval,CertificateSigning,CertificateSubjectRestriction,DefaultIngressClass,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota \
  --etcd-cafile=/etc/kubernetes/pki/etcd-ca.pem \
  --etcd-certfile=/etc/kubernetes/pki/kube-apiserver-etcd-client.pem \
  --etcd-keyfile=/etc/kubernetes/pki/kube-apiserver-etcd-client-key.pem \
  --etcd-servers=https://192.168.114.1:2379,https://192.168.114.2:2379,https://192.168.114.3:2379 \
  --event-ttl=1h \
  --encryption-provider-config=/etc/kubernetes/config/encryption-config.yaml \
  --kubelet-certificate-authority=/etc/kubernetes/pki/kubernetes-ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/pki/kube-apiserver-kubelet-client.pem \
  --kubelet-client-key=/etc/kubernetes/pki/kube-apiserver-kubelet-client-key.pem \
  --runtime-config=api/all=true \
  --service-account-key-file=/etc/kubernetes/pki/service-account.pem \
  --service-account-signing-key-file=/etc/kubernetes/pki/service-account-key.pem \
  --service-account-issuer=api \
  --api-audiences=api \
  --service-cluster-ip-range=10.96.0.0/12 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/etc/kubernetes/pki/kube-apiserver-control-plane-3.pem \
  --tls-private-key-file=/etc/kubernetes/pki/kube-apiserver-control-plane-3-key.pem \
  --requestheader-client-ca-file=/etc/kubernetes/pki/kubernetes-front-proxy-ca.pem \
  --requestheader-allowed-names=front-proxy-client \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --proxy-client-cert-file=/etc/kubernetes/pki/front-proxy-client.pem \
  --proxy-client-key-file=/etc/kubernetes/pki/front-proxy-client-key.pem \
  --v=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
