[Unit]
Description=etcd
Documentation=https://etcd.io/docs/

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name=etcd-1 \
  --cert-file=/etc/etcd/etcd-1.pem \
  --key-file=/etc/etcd/etcd-1-key.pem \
  --client-cert-auth=true \
  --trusted-ca-file=/etc/etcd/etcd-ca.pem \
  --peer-cert-file=/etc/etcd/etcd-peer-1.pem \
  --peer-key-file=/etc/etcd/etcd-peer-1-key.pem \
  --peer-client-cert-auth=true \
  --peer-trusted-ca-file=/etc/etcd/etcd-ca.pem \
  --initial-advertise-peer-urls=https://192.168.114.11:2380 \
  --listen-peer-urls=https://192.168.114.11:2380 \
  --listen-client-urls=https://192.168.114.11:2379,https://127.0.0.1:2379 \
  --advertise-client-urls=https://192.168.114.11:2379 \
  --initial-cluster-token=etcd \
  --initial-cluster=etcd-1=https://192.168.114.11:2380,etcd-2=https://192.168.114.12:2380,etcd-3=https://192.168.114.13:2380 \
  --initial-cluster-state=new \
  --data-dir=/var/lib/etcd \
  --log-outputs=/var/log/etcd/etcd.log \
  --enable-v2=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
