[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr=10.244.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/var/lib/kubernetes/kubernetes-ca.pem \
  --cluster-signing-duration=168h \
  --cluster-signing-key-file=/var/lib/kubernetes/kubernetes-ca-key.pem \
  --kubeconfig=/var/lib/kubernetes/kube-controller-manager-control-plane-2.kubeconfig \
  --leader-elect=true \
  --leader-elect-lease-duration=15s \
  --leader-elect-renew-deadline=10s \
  --leader-elect-resource-lock=leases \
  --leader-elect-resource-name=kube-controller-manager \
  --leader-elect-resource-namespace=kube-system \
  --leader-elect-retry-period=2s \
  --client-ca-file=/var/lib/kubernetes/kubernetes-ca.pem \
  --root-ca-file=/var/lib/kubernetes/kubernetes-ca.pem \
  --requestheader-client-ca-file=/var/lib/kubernetes/kubernetes-front-proxy-ca.pem \
  --service-account-private-key-file=/var/lib/kubernetes/service-account-key.pem \
  --service-cluster-ip-range=10.96.0.0/12 \
  --use-service-account-credentials=true \
  --authorization-kubeconfig=/var/lib/kubernetes/kube-controller-manager-control-plane-2.kubeconfig \
  --authentication-kubeconfig=/var/lib/kubernetes/kube-controller-manager-control-plane-2.kubeconfig \
  --v=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
